.bodyhero {
    background-image: url("../../assets/aboutus.svg");
    width: 100%; /* Use 100% or 100vw for full viewport width */
    height: 519px;
    background-size: cover; /* or contain, depending on your needs */
    background-repeat: no-repeat; /* Prevent image tiling */
    background-position: center; /* Center the image */
    /* Other image properties you might consider */
    background-attachment: fixed; /* Keep image fixed while scrolling (optional) */
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -0.1rem;
    
    
}


.needdiv{
  
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 17px;
    line-height: 21.42px;
    letter-spacing: 0%;
    color: white;    
}

.headingdiv{
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 50px;
    line-height: 63px;
    letter-spacing: 0%;
    color: white;
   
}

.headingdiv span {
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 50px;
    line-height: 63px;
    letter-spacing: 0%;
     color:#ED1C24    
}