@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.hero-body{
    width: screen;
    height: 350px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:605px){
    .hero-body{
        height: 380px !important;
    }
}

.hero-body img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hero-box{
    width: 60% !important;
    height: static;
    position: absolute;
    margin-bottom: -120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px !important;
}

.hero-box-heading1{
    width: 100%;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 48px;
    line-height: 58.51px;
    letter-spacing: 0%;
    color: #ffff;
}


