@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');


.offerings-body{
    height: static;
    width: screen;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 20px;
}

.offerings-box{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: static;
}
@media (max-width:550px){
    .offerings-box{
        width: 90%;
    }
}

.offerings-box-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: static;
}

.offerings-box-header1{
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 32px;
    line-height: 40.32px;
    letter-spacing: 0%;
}

.offerings-box-header1  span{
    color: #ED1C24;
}
@media (max-width:477px){
    .offerings-box-header1{
            width: 70%;
    }
}
@media (max-width:405px){
    .offerings-box-header1{
            width: 80%;
    }
}
@media (max-width:354px){
    .offerings-box-header1{
            width: 90%;
    }
}

.offerings-box-header2{
    width: 70%;
    font-family: Raleway;
font-weight: 500;
font-size: 16px;
line-height: 18.78px;
letter-spacing: 0%;
text-align: center;
}


.offerings-box-content{
    width: 90%;
    height: static;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.offerings-box-content1 {
    width: 360px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
@media (max-width:550px){.offerings-box-content1{width: 340px;}}


.offerings-box-content1-header{
    background-color: #ED1C24;
    width: 360px;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.94px;
    letter-spacing: 0%;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:550px){.offerings-box-content1-header{width: 340px;}}

.offerings-box-content1-footer{
    height: 250px;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offerings-box-content1-footer ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 20px;
        list-style-type: square;
        padding-left: 20px;
        margin: 0;
}

.offerings-box-content1-footer ul li{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.5px;
    letter-spacing: 0%;
    

}

.offerings-box-content1-footer ul li::marker{color: #ED1C24;font-size: 20px;}






.offerings-box-content2 {
    width: 360px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
@media (max-width:550px){.offerings-box-content2{width: 340px;}}

.offerings-box-content2-header{
    background-color: #ED1C24;
    width: 360px;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.94px;
    letter-spacing: 0%;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:550px){.offerings-box-content2-header{width: 340px;}}

.offerings-box-content2-footer{
    height: 250px;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offerings-box-content2-footer ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 20px;
        list-style-type: square;
        padding-left: 20px;
        margin: 0;
}

.offerings-box-content2-footer ul li{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.5px;
    letter-spacing: 0%;
    

}

.offerings-box-content2-footer ul li::marker{color: #ED1C24;font-size: 20px;}




.offerings-box-content3 {
    width: 360px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
@media (max-width:550px){.offerings-box-content3{width: 340px;}}

.offerings-box-content3-header{
    background-color: #ED1C24;
    width: 360px;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.94px;
    letter-spacing: 0%;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:550px){.offerings-box-content3-header{width: 340px;}}

.offerings-box-content3-footer{
    height: 250px;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offerings-box-content3-footer ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 20px;
        list-style-type: square;
        padding-left: 20px;
        margin: 0;
}

.offerings-box-content3-footer ul li{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.5px;
    letter-spacing: 0%;
    

}

.offerings-box-content3-footer ul li::marker{color: #ED1C24;font-size: 20px;}





.offerings-box-content4 {
    width: 360px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
@media (max-width:550px){.offerings-box-content4{width: 340px;}}

.offerings-box-content4-header{
    background-color: #ED1C24;
    width: 360px;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.94px;
    letter-spacing: 0%;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:550px){.offerings-box-content4-header{width: 340px;}}

.offerings-box-content4-footer{
    height: 250px;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offerings-box-content4-footer ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 20px;
        list-style-type: square;
        padding-left: 20px;
        margin: 0;
}

.offerings-box-content4-footer ul li{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.5px;
    letter-spacing: 0%;
    

}

.offerings-box-content4-footer ul li::marker{color: #ED1C24;font-size: 20px;}





.offerings-box-content5 {
    width: 360px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
@media (max-width:550px){.offerings-box-content5{width: 340px;}}

.offerings-box-content5-header{
    background-color: #ED1C24;
    width: 360px;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.94px;
    letter-spacing: 0%;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:550px){.offerings-box-content5-header{width: 340px;}}

.offerings-box-content5-footer{
    height: 250px;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offerings-box-content5-footer ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 20px;
        list-style-type: square;
        padding-left: 20px;
        margin: 0;
}

.offerings-box-content5-footer ul li{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.5px;
    letter-spacing: 0%;
    

}

.offerings-box-content5-footer ul li::marker{color: #ED1C24;font-size: 20px;}





.offerings-box-content6 {
    width: 360px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
@media (max-width:550px){.offerings-box-content6{width: 340px;}}

.offerings-box-content6-header{
    background-color: #ED1C24;
    width: 360px;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.94px;
    letter-spacing: 0%;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:550px){.offerings-box-content6-header{width: 340px;}}

.offerings-box-content6-footer{
    height: 250px;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offerings-box-content6-footer ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 20px;
        list-style-type: square;
        padding-left: 20px;
        margin: 0;
}

.offerings-box-content6-footer ul li{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.5px;
    letter-spacing: 0%;
    

}

.offerings-box-content6-footer ul li::marker{color: #ED1C24;font-size: 20px;}