@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

.dp-body{
    width: screen;
    padding-bottom: 3rem;
   /* border: 2px solid red; */
   display: flex;
   flex-direction: column;
   gap:1rem;
   background-color: #f8f8f8; 
   justify-content: center;
   height: static;
}

.dp-header-box{
    width: screen;
    height: static;
    display: flex;
    justify-content: center;
}
.dp-header{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 65%;
    height: static;
    margin-top: 50px;
}
@media (max-width:920px){
    .dp-header{
        width: 90%
    }
}
.dp-header1{
    font-family: Raleway;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.13px;
    text-align: left;
    text-decoration-skip-ink: none;
    color: #EF233C;
    width: 240px;
    height: 21px;
}

@media (max-width:700px){
    .dp-header1{
        font-size: 16px;
    }
}

.dp-header2{
    width: 100%;
font-family: Raleway;
font-size: 45px;
font-weight: 700;
text-align: left;
text-decoration-skip-ink: none;
}


@media (max-width:880px){
    .dp-header2{
        font-size: 34px;
    }
}

.dp-content-body{
    width: screen;
    display: flex ;
    justify-content: center;
    padding-inline: 40px;
}

.dp-content-box{
    width: 1500px;
    height: 640px auto;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.219);
    background-color: white;
    padding-block: 100px;
    padding-inline: 40px;
    margin: 0 auto;
}

/* @media (max-width:1600px){
    .dp-content-box{
        width: 90%;
    }
} */

.dp-content-box{
    width: 90%;
}

.dp-content-box1{
    height: 140px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.dp-content-box1-image{
    width: 100%;
    height: 70px;
}

.dp-content-box1-image img {
    width: 100%;
    height: 100%;
    filter: invert(13%) sepia(100%) saturate(7485%) hue-rotate(359deg) brightness(103%) contrast(80%);
}


.dp-content-box1-head{
    width: 100%;
    font-family: Raleway;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #ED1C24;
    text-align: center;
}
