.featuredservices-body{
    width: screen;
    height: static;
    padding-block: 40px;
    display: flex;
    justify-content: center;
    align-items:center ;
    background-color: #FAFAFA;
}

.featuredservices-box{
    width: 100%;
    height: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.box-top{
    width: 1220px;
    height: static;
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
@media(max-width:1267px){
    .box-top{
        width: 90%;
    }
}
@media(max-width:450px){
    .box-top{
        justify-content: center;
    }
}

.box-top-heading{
    width:500px;
    height: static;
    display: flex;
    flex-direction: column;
    gap: 20px;
  
}

.box-top-heading-header{
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 18px;
    line-height: 21.13px;
    letter-spacing: 0%;
    color:  #D90429;
}

.box-top-heading-para{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 45px;
    line-height: 52.83px;
    letter-spacing: 0%;
    color:#303030;
}

.box-top-button{
    border: 3px solid #D90429;
    width: 300px;
    height: 65px;
    border-radius: 20px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 20.16px;
    letter-spacing: 0%;
    color:#D90429;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-inline: 20px;
    gap: 40px;
    transition: 0.3s ease-in-out;
    text-decoration: none;
}

@media(max-width:450px){
    .box-top-heading-para{text-align: center; font-size: 35px;}
    .box-top-heading-header{text-align: center;}
}


.box-top-button a{
    display: flex;
    gap: 40px;
    text-decoration: none;
    color: #D90429;
}
.box-top-button a:hover{
    text-decoration: none;
    color: #ffffff;
}
.box-top-button:hover{
    background-color: #D90429;
    color: white;
    cursor: pointer;
}
.box-top-button:hover a {
    color: white;
}


.box-top-button img{
    margin-top: 5px;
    height: 10px;
    transition: 0.3s ease-in-out;
}
.box-top-button:hover img{
    transform: translateX(10px);
    filter: brightness(0) invert(1); 
}

.box-top-button-name{
    font-family: 'Plus Jakarta Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 20.16px;
    letter-spacing: 0%;
    color:#D90429;
}

/* box top or heading end */

/* box bottom start */

.box-bottom{
    width: 1280px;
    max-width: 100% !important;
    height: static;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    padding-inline: 20px;
}
.box-bottom-content{
    width: 380px;
    max-width: 90%;
    height: 320px;
    padding-block: 10px;
    padding-inline: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 0 auto;
}
@media (max-width:390px){
    .box-bottom-content{
        margin-right: 18px;
    }
}


.box-bottom-content:hover{
    border: 2px solid red;
    transform: scale(1.05);
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.15);
    
}


.box-bottom-content-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-bottom-content-heading{
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 24px;
    line-height: 28.18px;
    letter-spacing: 0%;
    color: #303030;
}

.box-bottom-content-para{
    text-align: center;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    color: #303030;
}