@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.aspect-body{
    width: screen;
    height: static;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 80px;
}

.aspect-box{
    width: 100%;
    height: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
@media(min-width:1550px){
    .aspect-box{
        width: 80%;
    }
}




.box-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header{
    width: 100%;
    text-align: center;
    font-size: clamp(2.5rem, calc(7vw + 1rem), 2.5rem);
    font-family: Raleway;
    font-weight: 700;
    line-height: 46.96px;
    letter-spacing: 0%;
}

.header span{color: #ED1C24;}

.para{
    width: 100%;
    text-align: center;
    font-size: clamp(1rem, calc(7vw + 1rem), 0.5rem);
    font-family: Raleway;
    font-weight: 700;
    line-height: auto;
    letter-spacing: 0%;
}
@media(max-width:1036px){
    .para{
        width: 90%;
    }
}

.box-content{
    width: 100%;
    height: static;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.content{
    height: 200px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius:20px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.content:hover{
    border: 2px solid #ED1C24;
    transform: scale(1.1);
}

@media(max-width:550px){
    .content{
        width: 400px;
    }
}
@media(max-width:460px){
    .content{
        width: 350px;
    }
}

.content-head {
    width: 100%;
    height: 150px;
    font-family: Raleway;
    font-weight: 500;
    font-size: 24px;
    line-height: 37.27px;
    letter-spacing: 0%;
    text-align: start;
    color: #ED1C24;

}

.content-para{
    width: 100%;
    height: 350px;
    font-family: Raleway;
    font-weight: 500;
    font-size: 16px;
    line-height: 24.84px;
    letter-spacing: 0%;
    text-align: start;
}