@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

.About-body{
    width: screen;
    height: static;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding-block: 80px;
}

.About-box{
    width: 100%;
    height: static;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    
}


/* image section start */
.About-img{
    width: 700px;
    height: static;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

@media (max-width: 750px){
    .About-img{width: 90%;}
}
@media (max-width: 450px){
    .About-img{width: 95%;}
}
.About-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
@media (max-width: 750px){
    .About-img img{object-fit: contain;}
}

/* image section end */

/* content section start */

.About-content{
    width: 700px;
    height: static;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 20px;
}

@media (max-width: 750px){
    .About-content{width: 90%;}
}
@media (max-width: 450px){
    .About-content{width: 95%;}
}
@media (max-width: 450px){
    .About-content{width: 90%;}
}

.About-content-heading{
    width: 60%;
    height: static;
    font-family: Raleway;
    font-weight: 700;
    font-size: 32px;
    line-height: 37.57px;
    letter-spacing: 0%;
}

.About-content-heading span{
    color:#ED1651;
}

.About-content-para1{
    width: 80%;
    height: static;
    font-family: Raleway;
    font-weight: 500;
    font-size: 14px;
    line-height: 25.06px;
    letter-spacing: 5%;
    text-align: justify;

}





/* content section end*/