@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

.dp-body{
    width: screen;
    height: 961px;
   /* border: 2px solid red; */
   background-color: #f8f8f8; 
   justify-content: center;
}

@media (max-width:920px){
    .dp-body{
        height: 1000px;
    }
}

@media (max-width:879px){
    .dp-body{
        height: 1200px;
    }
}

@media (max-width:650px){
    .dp-body{
        height: 1100px;
    }
}


@media (max-width:556px){
    .dp-body{
        height: 1700px;
    }
}

.dp-header-box{
    width: screen;
    height: 150pxpx;
    display: flex;
    justify-content: center;
    /* border: 5px solid violet; */
}
.dp-header{
    /* border: 2px solid green; */
    width: 65%;
    height: 150px;
    margin-top: 50px;
}
@media (max-width:700px){
    .dp-header{
        height: 90px;
        
    }
}

@media (max-width:660px){
    .dp-header{
        height: 70px;
        
    }
}



.dp-header1{
    font-family: Raleway;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.13px;
    text-align: left;
    text-decoration-skip-ink: none;
    color: #EF233C;
    width: 240px;
    height: 21px;
}

@media (max-width:700px){
    .dp-header1{
        font-size: 16px;
    }
}

.dp-header2{
    width: 100%;
height: 123px;
/* border: 2px solid yellow; */
font-family: Raleway;
font-size: 45px;
font-weight: 700;
line-height: 52.83px;
text-align: left;
text-decoration-skip-ink: none;


}


@media (max-width:880px){
    .dp-header2{
        font-size: 34px;
    }
}

@media (max-width:700px){
    .dp-header2{
        font-size: 20px;
        
    }
}


@media (max-width:660px){
    .dp-header2{
        font-size: 18px;
        
    }
}


@media (max-width:580px){
    .dp-header2{
        font-size: 15px;
        
    }
}

@media (max-width:490px){
    .dp-header2{
        font-size: 12px;
        
    }
}

.dp-content-body{
   
    /* border: 2px solid blue; */
    width: screen;
    
    display: flex;
    justify-content: center;
    
}

.dp-content-box{
    /* border: 2px solid rgb(11, 189, 202); */
    width: calc(80%);
    max-width: 1600px;
    height: 640px auto;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.219);
    background-color: white;
}

@media (max-width:920px){
    .dp-content-box{
        height: 700px;
    }
}

@media (max-width:879px){
    .dp-content-box{
        height: 900px;
    }
}


@media (max-width:650px){
    .dp-content-box{
        height: 900px;
    }
}

@media (max-width:556px){
    .dp-content-box{
        height: 1500px;
    }
}

.dp-content{
    /* border: 2px solid salmon; */
    width: 100%;
    max-width: 1000px;
     padding-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

/* Make images responsive */
.dp-content ul li img {
    max-width: 100%;
    height: 7rem;
}

.dp-content ul {
    /* border: 2px solid red; */
    width: 100%;
    max-width: 1000px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
    padding-bottom: 0px;
    padding-left: 0;
}

.dp-content ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 137px;
    /* border: 2px solid green; */


}