@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');


.testimonials-box {
    width: screen;
    height: screen;
    display: flex;
    flex-direction: row;
    align-items: center; 
    /* position: relative; */
    max-width: calc(100% - 600px);
    margin: 0 auto;
    
    
   
}

@media (max-width:1800px){
    .testimonials-box{
        display: flex;
        justify-content: center;

    }
}

.testimonials-pic{
    margin-left: 70px;
    width: 406px;
height: 614px;


}

@media (max-width:520px){
    .testimonials-pic{
        width: 350px;
        margin-right: 60px;
    }
}

.testimonials-pic img {
    width: 100%;  /* Make image take full width of the container */
    height: 100%; /* Make image take full height of the container */
    object-fit: cover; /* Ensures the image covers the box while maintaining aspect ratio */
    
}

@media (max-width:1800px){
    .testimonials-pic img{
        display: none;
    }
}


.testimonials-content-box{
    margin-left: 100px;
width: 650px;
height: 500px;

}


@media (max-width:1800px){
    .testimonials-content-box{
        margin-right: 250px;
    height: 850px;
        
    }
}

@media (max-width:520px){
    .testimonials-content-box{
        margin-right: 500px;
        width: 400px;
        
        
    }
}

.testimonials-content-heading-picture{
   
    height: 400px;
    width: 650px;
    display: flex;
    justify-content: center;
    
   
}




@media (min-width:1800px){
    
    .testimonials-content-heading-picture{
        /* display: none; */
        
    }

    .testimonials-content-heading-picture img{
        /* display: none; */
    }
}


@media (max-width:1800px){
    
    .testimonials-content-heading-picture{
        display: visible;
        height: 400px;
    width: 650px;  
    }

    .testimonials-content-heading-picture img{
        display: visible;
        width: 100%
    }
}


@media (max-width:770px){
    
    .testimonials-content-heading-picture{
        display: visible;
        margin-left: 180px;
        height: 300px;
    width: 450px;  
    }

    .testimonials-content-heading-picture img{
        display: visible;
        width: 100%;
    }
}

@media (max-width:530px){
    
    .testimonials-content-heading-picture{
        display: visible;
        margin-left: 225px;
        height: 200px;
        width: 350px;  
    }

    .testimonials-content-heading-picture img{
        display: visible;
        width: 100%;
    }
}






.testimonials-content-heading-box{
    width: 650px;
    height: 400px;
   
}

@media (max-width:1800px){
    .testimonials-content-heading-box{
       margin-top: 0px;
    }
}

@media (max-width:770px){
    .testimonials-content-heading-box{
        height: 300px;
        width: 450px;
        margin-left: 180px;
        margin-top: 0px;
        
    }
}

@media (max-width:530px){
    .testimonials-content-heading-box{
        height: 300px;
        width: 380px;
        margin-left: 210px;
        margin-top: 0px;
        
        
    }
}
.testimonials-content-heading1{
    width: 131px;
height: 21px;
font-family: Raleway;
font-size: 18px;
font-weight: 600;
line-height: 21.13px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #EF233C;

}

@media (max-width:770px){
    
    .testimonials-content-heading1{
        margin-top: -300px;
        margin-left: 330px;
    }
}


.testimonials-content-heading2{
    width: 605px;
    height: 56px;
    font-family: Raleway;
font-size: 48px;
font-weight: 600;
line-height: 56.35px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #303030;

}

@media (max-width:770px){
    
    .testimonials-content-heading2{
    
        margin-left: 270px;
    }
}

@media (max-width:740px){
    
    .testimonials-content-heading2{
        width: 40%;
        
    }
}

@media (max-width:522px){
    
    .testimonials-content-heading2{
        
        width: 60%;
        margin-left: 280px;
        
    }
}



.testimonials-content-heading3{
    margin-top: 100px;
    width: 556px;
    height: 29px;
    font-family: Raleway;
    font-size: 25px;
    font-weight: 400;
    line-height: 29.35px;
    text-align: left;
    text-decoration-skip-ink: none;
    color: #303030;
    
}

@media (max-width: 680px){
    .testimonials-content-heading3{
         width: 100%;
    }
}


.testimonials-quote{
    width: 550px;
    height: 200px;
    
}



@media (max-width:770px){
    .testimonials-quote{
        width: 450px !important;
    height: 200px;
        
    }
}

@media (max-width:530px){
    .testimonials-quote{
        width: 380px !important;
    height: 200px;
        
        
    }
}

.testimonials-quote text{
   
font-family: Raleway;
font-size: 25px;
font-weight: 400;
line-height: 29.35px;
text-align: left;
text-decoration-skip-ink: none;
color: #303030;


}


.testimonials-quote img{
    margin-top: 20px;
    border-radius: 100%;
width: 83px;
height: 83px;

}

.test-photo ul {
    display: flex;
}

.test-photo-name{
    margin-left: 20px;
    margin-top: 20px;
    width: 180px;
    height: 70px;
}

.span1{
    width: 148px;
height: 29px;
font-family: Inter;
font-size: 24px;
font-weight: 400;
line-height: 29.05px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #EF233C;
}

.span2{
    width: 123px;
height: 22px;

font-family: Nunito;
font-size: 16px;
font-weight: 500;
line-height: 21.82px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #303030;


}

.mySwiper {
    width: 100%;
}

@media (max-width: 740px) {
    .mySwiper{
      width: 100%;
      margin-top: -40px;
      margin-right: 110px;
      
    }}

.mySwiper .swiper-pagination {
    position: relative; /* Change from absolute to relative */
    top: -550px; /* Move it up */
    text-align: center;
}
@media (max-width: 740px) {
    .mySwiper .swiper-pagination {
      width: 100%;
    }}



@media (max-width: 768px) {
    .testimonials-box {
      flex-direction: column;
      padding: 10px;
    }
    .testimonials-content-heading2 {
      font-size: 20px;
    }
    .testimonials-quote {
      width: 100%;
    }
  }