@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

.footer-body{
    width: screen;
    height: 515px;
    background: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-left-content{
    width: 500px;
    height: 325.13px;
    
}
.footer-left-text{
    
    width: 378px;
    height: 95px;
    margin-top: 10px;
}
.footer-left-text p{
    
    width: 372px;
    height: 20px;
    font-family: Raleway;
    font-size: 17px;
    font-weight: 400;
    line-height: 19.96px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

.footer-left-social{
    margin-top: 5px;
    
    width: 200px;
    height: 50px;
}

.footer-left-social ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.footer-left-social ul li img{
    height: 40px;
}



.footer-right-content{
    width: 1000px;
    height: 325.13px;
    display: flex;
    gap: 100px;
}

.footer-right1{
    width: 150px;
    height: 325.13px;
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.footer-right1 ul{
    text-align: center;
    line-height: 50px;
    font-family: Raleway;
    font-size: 17px;
    font-weight: 400;
    transition: color 0.5s ease-in-out;
    text-decoration: none;
}
.footer-right1 ul li{
    transition: color 0.5s ease-in-out;
    text-decoration: none;
    color: #FFFFFF;
}


.footer-right1 ul li:hover{
    color: red;
}

/* Underline Animation */
.footer-right1 ul li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: red;
    transition: width 0.3s ease-in-out;
}

/* Expand Underline on Hover */
.footer-right1 ul li:hover::after {
    width: 100%;
}

.footer-right2{
    width: 150px;
    height: 325.13px;
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.footer-right2 ul{
    text-align: center;
    line-height: 40px;
    font-family: Raleway;
    font-size: 17px;
    font-weight: 400;
    text-decoration-skip-ink: none;
}

.footer-right3{
    width: 250px;
    height: 325.13px;
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.footer-right3 ul{
    text-align: center;
    line-height: 40px;
    font-family: Raleway;
    font-size: 17px;
    font-weight: 400;
    text-decoration-skip-ink: none;
}
.address{

    width: 250px;
    height: 80px;
    display: flex;
}

.address img{
    margin-top: 8px;
    width: 19.37px;
    height: 22.63px;
}

.phone1{
    width: 250px;
    height: 50px;
    display: flex;
    gap: 20px;
}

.phone1 img{
    margin-top: 8px;
    width: 19.37px;
    height: 22.63px;
}


.email1{
    width: 250px;
    height: 50px;
    display: flex;
    gap: 20px;
}

.email1 img{
    margin-top: 8px;
    width: 19.37px;
    height: 22.63px;
}

.copyright{
    background-color: #161616;
    width: screen;
    height: 50px;
    display: flex;
    justify-content: center;
}

.copyright-menu{
    color: #FFFFFF;
    height: 30px;
    width: 1500px;
}